@import '~antd/dist/antd.css';

body, html {     
  background-color: #f9fcfe;  
}

.Login {
  display: flex;
  flex-direction: row;   
}

.Login-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Login-logo {
  width: 100%;  
  padding-top: 20%;
  padding-left: 44%;
}

.Login-logo img {
  width: 80%;  
}

.Login-inputs {
  width: 100%;
  padding-left: 40%;  
}

.Login-inputs input {  
  width: 90%;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #e8e8e8;  
  box-shadow: none;
  border-radius: 15px;  
}

.Login-inputs input:focus {
  outline: none;  
  box-shadow: 0 0 1px 1px #1895f2;
}

.Login-inputs input::-webkit-input-placeholder {
  font-size: 14px;
  color: #c4c5c6;  
}

.email {
  background: url(img/user.png) no-repeat scroll 15px 15px;
  background-size: 20px 30px;
  padding-left: 50px;
}

.password {
  background: url(img/lock.png) no-repeat scroll 15px 15px;
  background-size: 20px 30px;
  padding-left: 50px;
}

.error {
  color: #da291c
}

.Login-password-forgot {
  margin: 25px 0;
  padding-left: 60%;          
}

.Login-password-forgot a {
  font-size: 14px;
  width: 10%; 
  color: #889fb1;            
  text-decoration: none;   
}

.Login-button {
  width: 100%;  
}

.Login-button button {  
  background-color: #1894F2;
  border: 1px solid #1895f2;
  color: white;
  cursor: pointer;  
  width: 90%;
  height: 55px;
  font-size: 15px;
  box-shadow: none;
  border-radius: 15px;  
}

.Login-button button:hover {  
  border: 1px solid #0096CE;
  background-color: #0096CE;   
}

.Login-button button:focus {  
  outline: none; 
}

.Login-right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Login-macbook {  
  margin-top: -9.5%;
  padding-left: 23%;
}

.Login-macbook img {  
  width: 147%
}
